<h1>ユーザー一覧</h1>
<h2><%= link_to "新規作成",new_user_path %></h2>

<% @users.each do |u| %>
  <p>名前：<%= u.name %></p>
  <p>年齢：<%= u.age %></p>
  <p>(
    <%= link_to "編集",edit_user_path(u.id),method: :get %>:
    <%= link_to "削除",user_path(u.id),method: :delete,data:{confirm:"削除しますか？"}%>
    )</p>
  <p>-----------------</p>
<% end %>
